#txt-input{
    width:80%;
    height:10vh;
    padding:1rem;
    display:block;
    margin:1rem;
}

#btn-translate{
    margin:1rem;    
}

#output{
    width:80%;
    margin:1rem;
    padding:1rem;
    display:block;
    height:10vh;
    border: 1px solid black;
}